<div class="absolute top-0 left-0 w-screen h-screen bg-gradient-to-b from-indigo-500 via-purple-500 to-pink-500">
<div class="flex flex-col w-screen h-3/4 justify-between items-center gap-3 my-16">
<h1 class="text-3xl text-bold text-white z-10 pt-20">Rich Dad Wallet</h1>
<%# <div class="absolute  top-55 h-1/2 w-screen bg-white rounded-full"></div> %>
<div class="flex flex-col gap-3">
<span class="border-2 rounded-2xl py-1 px-4 text-center bg-white w-56"><%= link_to "Sign In" %></span>

<span class="border-2 rounded-2xl py-1 px-4 text-center  bg-white w-56"><%= link_to "Sign Out" %></span>
</div>
</div>
</div>